h1{
    color: blue;
}
image{
    width: 400px;
}
#thirdDiv{
    height: 600px;
    width: 500px;
    background-color: blue;
    border: 5px solid coral;
}
#spanId{
    font-size: 18px;
    margin: 50px;
    padding: 50px;

}